{% extends 'base_proprietaire.html.twig' %}

{% block title %}Propriétaire{% endblock %}

{% block body %}
    <div id="hero" class="d-flex justify-content-center align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">



            <div class="container py-5 ">
                <div class="row">
                    {% if rm %}
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th>Animal</th>
                                <th>Rapport Médical</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ rm.Animal.nom }}</td>
                                <td>{{ rm.Description }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>




        </div>
    </div>

{% endblock %}
